@import "tailwindcss";

@custom-variant dark (&:is([data-theme="dark"] *));

@theme {
  --animate-spin-slowest: spin 20s linear infinite;
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(0 0 0);

  --primary: var(--foreground);
  --primary-foreground: var(--background);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  --background: oklch(0 0 0);
  --foreground: oklch(100% 0 0);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}
